div(layout='vertical', layout-fill)
  md-content
    md-card
      md-toolbar
        h1.md-toolbar-tools {{ scores[0].team_name }}
      md-list.scores
        md-content.md-padding
          div(ng-repeat='score in scores')
            div(ng-if='score.year != scores[$index - 1].year')
              md-toolbar.team_year
                h2.md-toolbar-tools {{ score.year }}

              md-item
                md-item-content
                  h3.md-title(flex='33') Hour
                  h3.md-title(flex='33') Place
                  h3.md-title(flex='33') Score
              md-divider
            md-item
              md-item-content
                span(flex='33') {{ score.hour }}
                span(flex='33') {{ score.place }}
                span(flex='33') {{ score.score }}
              md-divider(ng-if='!$last')
