md-card
  md-toolbar
    div.md-toolbar-tools
        span.md-flex Trivia Countdown
  md-content.md-padding
    form(ng-submit="register()")
      md-input-container
        label Username
        input(ng-model="user.username",ng-required='true')
      md-input-container
        label Email
        input(ng-model="user.email",type="email",ng-required='true')
      md-input-container
        label Password
        input(ng-model="user.password",type="password",ng-required='true')
      md-input-container
        label Phone Number (Optional)
        input(ng-model="user.phoneNumber",type="phone_number",ng-required="false")
      md-input-container
        label Team Name (Optional)
        input(ng-model="user.teamName",ng-required='false',placeholder='Get notified of your team\'s scores')
      md-checkbox(ng-model="user.contactEmail",aria-label="Notify via Email") Notify via Email
      md-checkbox(ng-model="user.contactPhone",aria-label="Notify via Text") Notify via SMS
      md-button.md-raised.md-primary(type="submit") Submit
