@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic|Nunito:700);

$background-color: #c1c1c1;
$primary-color: #009688;
$accent-color: #FF5252;
$dark-accent-color: #D50000;
$dark-primary-color: #00796B;
$primary-text: #212121;
$secondary-text: #727272;
$divider-color: #B6B6B6;
$warn-color: #3F51B5;

html {
  font-family: 'Roboto Slab', serif;
}

body {
  height: 100%;
}

[layout=row] {
  flex-direction: row;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

md-toolbar.md-default-theme {
  background-color: black;
}

section.jumbotron {
  margin-bottom: 30px;
  padding: 1px 30px;
  background-color: #5aadbb;
  text-align: center;

  color: white;

  h1 {
    font-size: 3em;
  }
}

.techs {
  display: flex;
  flex-flow: row wrap;

  md-card {
    width: 30%;

    img.pull-right {
      float: right;
      width: 50px;
    }
  }
}

// injector
// endinjector

// Countdown
$countdown-size: 60px;

md-progress-circular .md-inner {
  width: $countdown-size;
  height: $countdown-size;
  position: relative;
}

md-progress-circular .md-inner .md-gap {
  border-bottom-width: 0;
}

md-progress-circular .md-inner .md-left, md-progress-circular .md-inner .md-right {
  position: absolute;
  top: 0;
  height: $countdown-size;
  width: $countdown-size / 2;
  overflow: hidden;
}

md-progress-circular .md-inner .md-left .md-half-circle, md-progress-circular .md-inner .md-right .md-half-circle {
  position: absolute;
  top: 0;
  width: $countdown-size;
  height: $countdown-size;
}

md-progress-circular .md-inner .md-left, md-progress-circular .md-inner .md-right {
  position: absolute;
  top: 0;
  height: $countdown-size;
  width: $countdown-size / 2;
  overflow: hidden;
}

md-progress-circular .md-inner .md-left .md-half-circle, md-progress-circular .md-inner .md-right .md-half-circle {
  position: absolute;
  top: 0;
  width: $countdown-size;
  height: $countdown-size;
}

#countdown span.countdown-number {
  font-family: Aclonica, sans-serif;
  font-size: 32px;
  margin-left: 12px;
  margin-top: -48px;
  font-weight: bolder;
  line-height: 1.15;
}

#countdown span.countdown-label {
  font-family: Aclonica, sans-serif;
  text-align: center;
  font-size: 100%;
  font-weight: bold;
  margin-top: 20px;
}

#countdown .number-container {
  margin-right: 25px;
}

md-progress-circular {
  width: $countdown-size;
  height: $countdown-size;
}

md-progress-circular .md-inner .md-gap {
  display: none;
}

md-toolbar.team_year {
  margin-top: 20px
}

button.search {
  position: absolute;
  top: 50px;
  right: 20px;
  z-index: 100;
  padding-top: 8px;
}

md-toolbar.main-bar {
  z-index: 90;
}

.title-container {
  position: relative;
}

md-card {
  margin-bottom: 25px;
}

.search-button {
  max-height: 35px;
  margin: 18px 10px 0px 10px;
}

md-toolbar.md-default-theme {
  background-color: #009688;
}

.countdown-container {
  margin: 10px auto 0 auto;
}

.body,
md-content.body {
  background-color: $background-color;
}

.body {
  min-height:100%;
}

.main-body {
  padding-top: 15px;
}

md-content {
  background-color: white;
}

.fill {
  height: 100%;
}

.title-icon {
  height: 64px;
}

.title-logo {
  font-family: 'Nunito', serif;
  font-size: 40px;
  vertical-align: top;
  line-height: 70px;
}

.badge {
  border-radius: 999em;
  width: 32px;
  height: 32px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  line-height: 1;
  font-size: 18px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  margin: 5px 0;
}

.badge span {
  position: absolute;
  left: 0;
  top: 50%;
  height: 100%;
  width: 100%;
  text-align: center;
  margin-top: -10px;
  color: #FFF;
}

.badge span a {
  text-decoration: none;
  color: #FFF;
}

.badge.hour {
  background-color: $dark-accent-color;
}

.badge.place {
  background-color: $dark-primary-color;
}

md-item {
  text-align: center;
}

.tl-left {
  text-align: left;
}

.md-title.tl-left {
  padding: 0 16px;
}

.md-toolbar-tools {
  height: auto;
  min-height: 64px;
  max-height: 96px;
  vertical-align: middle;
}

.profile-circular {
  width: 75px;
  height: 75px;
  background-image: url('https://pbs.twimg.com/profile_images/447116466509205504/i3Y4pKUa.jpeg');
  background-size: cover;
  display: block;
  border-radius: 37.5px;
  -webkit-border-radius: 37.5px;
  -moz-border-radius: 37.5px;
  margin: 0 auto;
}

.about md-icon {
  width: 75px;
  height: 75px;
}

.github {
  color: black;
}

.twitter {
  color: #00aced;
}

.about {
  text-align: center;

}

// FF fixes..
html,body{
  min-height:100%;
  background-color: $background-color;
}

.signup {
  color: $accent-color;
}

.unsubscribe {
  margin-left: 15px;
}
