*~
*.pyc
*kate-swp
*local_settings.py*
*private_config.py*
*.idea
log/
# Ignore all the virtualenv stuff except the actual packages
# themselves
/bin
/include
/lib/python*/*
#!/lib/python*/site-packages
local/
/build/
# Ignore easyinstall and setuptools
/lib/python*/site-packages/easy-install.pth
/lib/python*/site-packages/setuptools.pth
/lib/python*/site-packages/setuptools-*
/lib/python*/site-packages/pip-*
