*~
*.pyc
*kate-swp
*local_settings.py*
*private_config.py*
*.idea
log/
# Ignore all the virtualenv stuff except the actual packages
# themselves
/bin
/include
/lib/
local/
build/
pip-selfcheck.json
share/
# Ignore easyinstall and setuptools
db.sqlite3
.tox/
*.mysql
staticfiles/
