div(layout='vertical', layout-fill)
  md-content.body(flex="100")

    md-card
      md-toolbar
        div.md-toolbar-tools
          span.md-flex Trivia Countdown
      md-content.md-padding
        div#countdown(layout='row',layout-sm='column',ng-controller="CountdownCtrl")
          div.countdown-container(layout='row')
            div(layout='column').number-container
              md-progress-circular.hours(md-mode='determinate',value='{{timeToTrivia | countdown:"days":"true"}}')
              span.countdown-number(ng-bind='timeToTrivia | countdown:"days"')
              span.countdown-label Days
            div(layout='column').number-container
              md-progress-circular.hours.md-hue-2(md-mode='determinate',value='{{timeToTrivia | countdown:"hours":"true"}}')
              span.countdown-number(ng-bind='timeToTrivia | countdown:"hours"')
              span.countdown-label Hours
            div(layout='column').number-container
              md-progress-circular.hours.md-accent(md-mode='determinate',value='{{timeToTrivia | countdown:"minutes":"true"}}')
              span.countdown-number(ng-bind='timeToTrivia | countdown:"minutes"')
              span.countdown-label Minutes
            div(layout='column').number-container
              md-progress-circular.hours.md-accent.md-hue-1(md-mode='determinate',value='{{timeToTrivia | countdown:"seconds":"true"}}')
              span.countdown-number(ng-bind='timeToTrivia | countdown:"seconds"')
              span.countdown-label Seconds

    md-card
      md-toolbar
        div.md-toolbar-tools
            span.md-flex Sign Up For Score Updates
      md-content.md-padding
        form(ng-submit="register()")
          h3 Register for email and/or text updates
          h4.signup(ng-if="message") {{ message }}
          md-input-container
            label Email
            input(ng-model="subscriber.email",type="email")
          md-input-container
            label Phone Number
            input(ng-model="subscriber.phoneNumber",type="phone_number",ng-required="false")
          md-input-container
            label Team Name (Optional)
            input(ng-model="subscriber.teamName",ng-required='false',placeholder='Get notified of your team\'s scores')
          md-button.md-raised.md-primary(type="submit") Submit

    md-card
      md-toolbar
        div.md-toolbar-tools(ng-cloak)
          span.md-flex Hour {{ scores[0].hour }}, {{ scores[0].year }}
      md-content.md-padding
        md-subheader.md-primary
          a(href='#/scores/{{ scores[0].year }}/{{ scores[0].hour }}',ng-cloak) Full Scores
        md-list.scores
          md-item
            md-item-content
              h3.md-title(flex="20") Place
              h3.md-title(flex="20") Score
              h3.md-title.tl-left(flex="60") Team
            md-divider
          md-item(ng-repeat='score in scores',ng-if='$index < 10')
            md-item-content
              div(flex="20")
                div.badge.place
                  span {{ score.place }}
              div(flex="20")
                div
                  span {{ score.score }}
              div.md-tile-content.tl-left(flex="60")
                span
                  a(href='#/teams/{{ score.team_name | escape }}') {{ score.team_name }}
            md-divider(ng-if="!$last")

    md-card
      md-toolbar
        div.md-toolbar-tools
          span.md-flex Trivia Tweets
      md-content.md-padding
        | <a class="twitter-timeline" href="https://twitter.com/hashtag/Trivia46" data-widget-id="586420199718391809">#Trivia46 Tweets</a>
        | <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    md-card
      md-toolbar
        div.md-toolbar-tools(ng-cloak)
          span.md-flex About
      md-content.md-padding.about
        p
          | This site provides historical data and notifcations for the World's
          | Largest Trivia Contest, run by WWSP 90FM. Trivia is a 54 hour long
          | contest, where 8 questions an hour are aired over the radio, and
          | teams call in the answers. Teams can be any size and use the Internet
          | to find answers. For more info, see the <a href="http://www.90fmtrivia.org/">
          | official Trivia website</a>.
        p
          | This site is completely open source. You can <a href="http://github.com/pcsforeducation/90fm_trivia_stats">
          | view the source here.</a>
        h3
          | Built by <a href='http://servercobra.com'>Josh Gachnang</a>
        div(layout='row')
          div(flex="33")
            a(href="http://servercobra.com")
              span.profile-circular
          a(href="http://twitter.com/servercobra",flex="33")
            md-icon.twitter(md-svg-src="assets/images/twitter.svg",alt="twitter")
          a(href="http://github.com/pcsforeducation",flex="33")
            md-icon.github(md-svg-src="assets/images/github-circle.svg",alt="github")

