div(layout='vertical', layout-fill)
  md-content.body(flex="100")
    md-card(ng-cloak)
      md-toolbar
        h1.md-toolbar-tools
          | {{ ::scores[0].year }}, Hour {{ ::scores[0].hour }}
      md-content.md-padding
        md-list.scores
          md-item
            md-item-content
              div(flex="30",layout="row")
                h3.md-title(flex="50") Place
                h3.md-title(flex="50") Score
              div(flex="70")
                h3.md-title Team
            md-divider
          md-item(ng-repeat='score in scores')
            md-item-content
              div.md-tile-left(flex="30",layout="row")
                span(flex="50")
                  | {{ ::score.place }}
                span(flex="50")
                  | {{ ::score.score }}
              div.md-tile-content(flex="70")
                span
                  a(href='#/teams/{{ score.team_name | escape }}') {{ ::score.team_name }}
            md-divider(ng-if="!$last")
