div(layout='vertical', layout-fill)
  md-content.body(flex="100")
    md-card(ng-cloak)
      md-toolbar
        h1.md-toolbar-tools
          | {{ ::scores[0].year }}, Hour {{ ::scores[0].hour }}
      md-content.md-padding
        md-list.scores
          md-item
            md-item-content
              h3.md-title(flex="20") Place
              h3.md-title(flex="20") Score
              h3.md-title.tl-left(flex="60") Team
            md-divider
          md-item(ng-repeat='score in scores')
            md-item-content
              div(flex="20")
                div.badge.place
                  span {{ score.place }}
              div(flex="20")
                div
                  span {{ score.score }}
              div.md-tile-content.tl-left(flex="60")
                span
                  a(href='#/teams/{{ score.team_name | escape }}') {{ score.team_name }}
            md-divider(ng-if="!$last")
