md-content.md-padding.body
  md-card
    md-toolbar
      div.md-toolbar-tools
        span.md-flex Search Trivia Teams
    md-content.md-padding

      form(name='search_form',ng-submit='query()',layout="row")
        md-input-container(flex)
          label Team name
          input(ng-model='searchTerm')
        md-button.md-raised.md-primary.search-button Search
  div(layout='row',layout-sm='column',layout-align='space-around',ng-if="processing")
    md-progress-circular(md-mode='indeterminate')
  md-card(ng-hide="filteredTeams.length == 0")
    md-toolbar
        h1.md-toolbar-tools {{ filteredTeams[0].team_name }}
    md-content.md-padding
      md-list.scores
        div(ng-repeat='score in filteredTeams')
          div(ng-if='score.year != filteredTeams[$index - 1].year || score.team_name != filteredTeams[$index - 1].team_name')
            md-toolbar.team_year
              h2.md-toolbar-tools {{score.team_name }}, {{ score.year }}

            md-item
              md-item-content
                h3.md-title(flex='33') Hour
                h3.md-title(flex='33') Place
                h3.md-title(flex='33') Score
            md-divider
          md-item
            md-item-content
              span(flex='33') {{ score.hour }}
              span(flex='33') {{ score.place }}
              span(flex='33') {{ score.score }}
            md-divider(ng-if='!$last')
