/*
Color Palette (with good border colors below)

Orange: #DF740C
        #c7670a
Yellow: #FFE64D
        #e4cd44
Light Blue: #E6FFFF
            #cde4e4
Blue: #6FC3DF
      #63aec7
Dark: #0C141F
      #0a111b
*/


.navbar {
    margin:0 auto;
    width:980px;

}
.navbar .brand {
    /* Copied from .navbar .brand*/
    display: block;
    float: left;
    padding: 10px 20px 10px;
    margin-left: -20px;
    font-size: 25px;
    /*font-weight:bold;*/
    color: #eee;
    text-shadow: 0 1px 0 #999;
}
.navbar .nav>li>a {
    color: #eee;
    text-shadow: 0 1px 0 #999;
}
.navbar .nav>li {
    color: #eee;
    text-shadow: 0 1px 0 #999;
}
.navbar .navbar-inner {
    /* No reason for navbar to have rounded corners on the top.. */
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-image: -webkit-linear-gradient(top,#DF740C,#DF740C);
    border-color: #DF740C;
    background-color: #DF740C;
}

.body {
    margin:0 auto;
    width:940px;
    background:#222;
    padding-bottom:50px;
    padding-left:0px;
    padding-right:40px;
}
body {
    background:#555;
}
.footer_text {
    text-align: center;
    color:#eee;
}
.footer_text a {
    text-decoration:underline;
    color:#eee;
}
.search-query {
    float:right;
    margin-top:5px;
    margin-left:380px;
}

/*Homepage boxes*/
.flat_box {
    height:300px;
    width:470px;
    margin-top:20px;
    padding:20px;
}
.flat_box p {
    color:#333;
}
.flat_box a {
    color:#fff;
}
.info_box {
    /*background:#3A414D;*/
    background: #6FC3DF;
    padding-top:70px;

}
.info_box p {
    font-size:115%;
}
.timer_box {
    /*background:#DB4B1F;*/
    /*background:#3A414D*/
    background: #6FC3DF;
;
}
.sms_box {
    /*background:#1BA593;*/
    /*background:#08c;*/
    background: #6FC3DF;
}

.email_box {
    /*background:#7D8793;*/
    background: #6FC3DF;
    /*background:#08c;*/
    /*background:#1BA593;*/
}
.top_ten_box {
    /*background:#4B4755;*/
    margin-top:30px;
    /*height: 300px;*/
}
.top_ten_row {
    /*width:100%;*/
    /*margin-bottom:20px;*/
    /*height:30px;*/
    height:60px;
}
.top_ten_row h4 {
    font-size:200%;
    color:#eee;
}
.top_ten_team_place {

    /*background:red;*/
    background:#38c;
    /*margin-left:0;*/
    float:left;
    width:20%;
    height:30px;
    padding-top:10px;
    padding-bottom:10px;
    margin-bottom:20px;

}
.top_ten_team_name {
    background:#e1e1e1;
    /*margin-left:0;*/
    float:left;
    width:80%;
    height:30px;
    padding-top:10px;
    padding-bottom:10px;
    margin-bottom:20px;
}
.top_ten_team_name h4 {
    color:#222;
}

/*SMS and Email Forms*/
/*.notification_input {*/
    /*width:200px;*/

/*}*/
.notification_form {
    width:350px;
    margin:0 auto;
}
.input-prepend .add-on:first-child {
    width:20px;
    background-color:white;
    /*border-left:1px solid black;*/
    /*border-top:1px solid black;*/
    /*border-bottom:1px solid black;*/
    border-right:none;
    padding-top:10px;
    height:24px;
    text-shadow:none;
    margin-bottom:0px;
}
.input-prepend .add-on-top:first-child {
    border-bottom:1px solid black;
    border-left:1px solid black;
    border-top:1px solid black;
    border-bottom-left-radius: 0;

}
.input-prepend .add-on-bottom:first-child {
    border-top:none;
    border-left:1px solid black;
    border-bottom:1px solid black;
    border-top-left-radius: 0;
    height:25px;
}
.input-prepend {
    margin-bottom:0px;
}
.notification_button {
    /*width:100%;*/
    border:1px solid black;
    height:40px;
    width:330px;
}
input[type="text"][class~="notification_input"]
{
    height:40px;
    margin:0;
    background-color:white;
    border-left:none;
    width:300px;
    border-top-left-radius:0;
    text-shadow:none;
    /*color:red;*/
}
input[type="text"][class~="notification_input_top"] {
    border-bottom:1px solid black;
    border-right:1px solid black;
    border-top:1px solid black;
    border-bottom-right-radius:0;
}
input[type="text"][class~="notification_input_bottom"]{
    border-top:none;
    /*background-color:red;*/
    margin-bottom:20px;
    border-right:1px solid black;
    border-bottom:1px solid black;
    border-top-right-radius:0;
}
.cellphone_icon {
    height:13px;
    width:8px;
}