/*
Color Palette (with good border colors below)

Orange: #DF740C
        #c7670a
Yellow: #FFE64D
        #e4cd44
Light Blue: #E6FFFF
            #cde4e4
Blue: #6FC3DF
      #63aec7
Dark: #0C141F
      #0a111b
*/


.navbar {
    margin:0 auto;
    width:980px;

}
.top_nav {
    border-bottom:1px solid #eee;
}
.navbar .brand {
    /* Copied from .navbar .brand*/
    display: block;
    float: left;
    padding: 10px 20px 10px;
    margin-left: -20px;
    font-size: 25px;
    /*font-weight:bold;*/
    color: #DF740C;
    text-shadow: none;
    font-weight:bold;
}
.navbar .nav>li>a {
    color: #eee;
    text-shadow: 0 1px 0 #999;
}
.navbar .nav>li {
    color: #eee;
    text-shadow: 0 1px 0 #999;
}
.navbar .navbar-inner {
    /* No reason for navbar to have rounded corners on the top.. */
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-image: -webkit-linear-gradient(top,#222,#222);
    border-color: #222;
    background-color: #222;
}
.navbar a:hover {
    color:red;

}

.body {
    margin:0 auto;
    width:940px;
    background:#222;
    padding-bottom:50px;
    padding-left:0px;
    padding-right:40px;
}
body {
    background:#555;
}
.footer {
    border-top:1px solid #eee;
    padding-top:20px;
    background-color: #222;
    padding-bottom:20px;

}
.footer_text {
    text-align: center;
    color:#eee;
}
.footer_text a {
    text-decoration:underline;
    color:#eee;
}
.search-query {
    float:right;
    margin-top:5px;
    margin-left:380px;
}

/*Homepage boxes*/
.flat_box {
    height:300px;
    width:470px;
    margin-top:20px;
    padding:20px;
}
.flat_box p {
    color:#333;
}
.flat_box a {
    color:#fff;
}
.info_box {
    /*background:#3A414D;*/
    background: #6FC3DF;
    padding-top:70px;

}
.info_box a {
    color: #0a111b;
    text-decoration: underline;
}
.info_box p {
    font-size:115%;
}
.timer_box {
    /*background:#DB4B1F;*/
    /*background:#3A414D*/
    background: #6FC3DF;
;
}
.sms_box {
    /*background:#1BA593;*/
    /*background:#08c;*/
    background: #6FC3DF;
}

.email_box {
    /*background:#7D8793;*/
    background: #6FC3DF;
    /*background:#08c;*/
    /*background:#1BA593;*/
}
.top_ten_box {
    /*background:#4B4755;*/
    margin-top:30px;
    /*height: 300px;*/
}
.top_ten_row {
    /*width:100%;*/
    /*margin-bottom:20px;*/
    /*height:30px;*/
    height:40px;
}
.top_ten_row h4 {
    font-size:125%;
    color:#333;
    /*padding-bottom:10px;*/
    vertical-align: middle;
}
.top_ten_team_place {

    /*background:red;*/
    background:#6FC3DF;
    /*margin-left:0;*/
    float:left;
    width:20%;
    height:15px;
    padding-top:10px;
    padding-bottom:10px;
    margin-bottom:20px;
    margin-right:1%;

}
.top_ten_team_place h4 {
    color:#222;
    margin-left:10px;
    margin-bottom:4px;
    margin-top:0;
}
.top_ten_team_name {
    background:#eee;
    /*margin-left:0;*/
    float:left;
    width:79%;
    height:15px;
    padding-top:10px;
    padding-bottom:10px;
    margin-bottom:20px;

}
.top_ten_team_name h4 {
    color:#222;
    margin-left:10px;
    margin-bottom:4px;
    margin-top:0;
}

/*SMS and Email Forms*/
/*.notification_input {*/
    /*width:200px;*/

/*}*/
.notification_form {
    width:350px;
    margin:0 auto;
}
.notification_form h3 {
    text-align:center;
}
.input-prepend .add-on:first-child {
    width:20px;
    background-color:white;
    /*border-left:1px solid black;*/
    /*border-top:1px solid black;*/
    /*border-bottom:1px solid black;*/
    /*border-right:none;*/
    padding-top:10px;
    height:26px;
    text-shadow:none;
    margin-bottom:0px;
    border:none;

}
.input-prepend .add-on-top:first-child {
    /*border-bottom:1px solid black;*/
    /*border-left:1px solid black;*/
    /*border-top:1px solid black;*/
    border-bottom-left-radius: 0;
    border:none;
    border-bottom:1px solid #ddd;
    height:25px;
}
.input-prepend .add-on-bottom:first-child {
    /*border-top:none;*/
    /*border-left:1px solid black;*/
    /*border-bottom:1px solid black;*/
    border-top-left-radius: 0;
    /*height:25px;*/
    border: none;
}
.input-prepend {
    margin-bottom:0px;
}
.notification_button, .notification_button:hover, .notification_button:active {
    /*width:100%;*/
    background-color:#DF740C;
    border:1px solid #c7670a;
    background-image: none;
    height:40px;
    width:330px;
    color: white;
    font-weight: bold;
    font-size: 115%;
    text-shadow: none;
}
input[type="text"][class~="notification_input"]
{
    height:40px;
    margin:0;
    background-color:white;
    border-left:none;
    width:300px;
    border-top-left-radius:0;
    text-shadow:none;
    box-shadow:none;
    /*color:red;*/
}
input[type="text"][class~="notification_input_top"] {
    /*border-bottom:1px solid black;*/
    /*border-right:1px solid black;*/
    /*border-top:1px solid black;*/
    border:none;
    border-bottom:1px solid #ddd;
    border-bottom-right-radius:0;
}
input[type="text"][class~="notification_input_bottom"]{
    border-top:none;
    /*background-color:red;*/
    margin-bottom:20px;
    /*border-right:1px solid black;*/
    /*border-bottom:1px solid black;*/
    border:none;
    border-top-right-radius:0;
}
.cellphone_icon {
    height:13px;
    width:8px;
}

.hour_standings {
    color: #eee;
    border-bottom:1px solid #eee;
}

/*Team Pages*/
.team_body {
    margin-left:20px;
    margin-top:30px;

}
.team_body_name {
    color: #6FC3DF;
    border-bottom:1px solid #6FC3DF;
}
.team_body table {
    width:100%;
}
.team_body table tr {
    width: 25%;
    color:#eee;
    text-align:left;
}
.team_body table td {
    width: 25%;
    color:#eee;
}

.team_body h3 {
    color:#eee;
}
h2 {
    color:#eee;
    text-align: center;
}

/*Countdown*/
.countdown {
    border:none;
    background-color:#6FC3DF;
    width:300px;
}
.cur_days {
    background:#222;
    color: #DF740C;
    width: 200px;
    font-size:200%;
    float:left;
}
.cur_days_label {
    float:left;
    width:100px;
}
.cur_hours {
    width:80px;
    background:#222;
    color: #DF740C;
    margin-right:20px;
    float:left;
}
.cur_minutes {
    width:80px;
    background:#222;
    color: #DF740C;
    margin-left:10px;
    margin-right:10px;
    float:left;
}
.cur_seconds {
    width:80px;
    background:#222;
    color: #DF740C;
    margin-left:20px;
    float:left;
}