<p><em>Trivia Scores for Hour {{ hour }}</em></p>

{% if team_name %}
  <p><em>{{ team_name }}</em></p>
  <hr>
  <p><em>Place:</em> {{ place }}</p>
  <p><em>Score:</em> {{ score }}</p>
{% endif %}

<p><a href="http://www.triviastats.com/#/scores/{{ year }}/{{ hour }}">All scores for Hour {{ hour }}</a></p>

{% if top_ten %}
  <p><em>Top 10 Teams</em></p>
  <ul>
  {% for team in top_ten %}
    <!-- Place, Team Name, Score -->
    <li>{{ team.place }}: {{ team.team_name }}, Score: {{ team.score }}</li>
  {% endfor %}
  </ul>
{% endif %}

<h6>To unsubscribe, just go to <a
    href="http://www.triviastats.com/#/unsubscribe">http://www.triviastats.com/#/unsubscribe</a>
</h6>
