{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}
    <script>
    $start_time = {{ trivia_start_time }};
    </script>
    <div class="row-fluid span12 info_row" xmlns="http://www.w3.org/1999/html">
        <div class="span6 flat_box info_box">
            <p>Trivia Stats is a web app tracking <a href="http://90fmtrivia.org/">90FM's World's Largest Trivia Contest.</a> You can track your score, get notified when new scores are posted, and look up past years.</p>
            <p>If anything doesn't work, <a href="mailto:josh@servercobra.com">send me an email.</a> I built this site in a few hours, so it might still have bugs.
            The site is built with Python and Django. <a href="http://github.com/pcsforeducation/90fm_trivia_stats">You can view the source and contribute on Github.</a></p>
        </div>
        <div class="span6 flat_box timer_box">
            <h3>Countdown</h3>
            <p><span class="countdown">24</span><span class="countdown_days_text">days</span></p>
            <span class="countdown_time">12</span><span class="countdown_colon">:</span><span class="countdown_time">12</span><span class="countdown_colon">:</span><span class="countdown_time">12</span>
        </div>
    </div>
    <div class="row-fluid span12 signup_row">
        <div class="span6 flat_box sms_box">

            <form method="POST" action="/sms/subscribe/" class="notification_form">
                <h3>Text Notifications</h3>
                <div class="input-prepend">
                    <span class="add-on add-on-top"><i class="icon-th"></i></span>
                    <input class="notification_input notification_input_top" type="text" placeholder="Phone Number">
                </div>
                <div class="input-prepend">
                    <span class="add-on add-on-bottom"><i class="icon-user"></i></span>
                    <input class="notification_input notification_input_bottom" type="text" placeholder="Team Name">
                </div>
                <button type="submit" class="btn notification_button">Subscribe</button>
            </form>
        </div>
        <div class="span6 flat_box email_box">

                <form method="POST" action="/email/subscribe/" class="notification_form">
                    <h3>Email Notifications</h3>
                    <div class="input-prepend">
                        <span class="add-on add-on-top"><i class="icon-envelope"></i></span>
                        <input class="notification_input notification_input_top"  type="text" placeholder="Email">
                    </div>
                    <div class="input-prepend">
                        <span class="add-on add-on-bottom"><i class="icon-user"></i></span>
                        <input class="notification_input notification_input_bottom" type="text" placeholder="Team Name">
                    </div>
                    <button type="submit" class="btn notification_button">Subscribe</button>
                </form>
            </div>
    </div>

    <div class="row-fluid span12 top_ten_box">
{#    <div class="span12 flat_box ">#}
        <h3 class="hour_standings">Hour 54 Standings</h3>
        {% for team in top_teams %}
            <div class="top_ten_row">
                <div class="top_ten_team_place"><h4>#{{ team.place }} | {{ team.score }}</h4></div>
                <div class="top_ten_team_name"><h4><a href="/team/{{ team.url }}/">{{ team.team_name }}</a></h4></div>
            </div>
        {% empty %}
            <p>No teams yet?</p>
        {% endfor %}


        <h4><a href="/score/{{ last_year }}/{{ last_hour }}/">See All Scores</a></h4>
{#    </div>#}
    </div>

{#	<div id="home-intro">#}
{#    <h1>Welcome to Trivia Stats</h1>#}
{#    <p>#}
{#		Trivia Stats is a web app tracking <a href="http://90fmtrivia.org/">90FM's World's Largest Trivia Contest.</a> #}
{#    </p>#}
{#    <p>You can track your scores, get notified when new scores are posted, compare yourself to other teams (soon), and look up past years. If anything doesn't work, <a href="mailto:josh@servercobra.com">send me an email.</a> I built this site in a few hours, so it might still have bugs.</p>#}
{#	<p>The site is built with Python and Django. <a href="http://github.com/pcsforeducation/90fm_trivia_stats">You can view the source and contribute on Github.</a></p>#}
{#	</div>#}
{#	<br />#}
{#	<h4>Latest Scores: <a href=/score/{{ latest_year }}/{{ latest_hour }}/>{{ latest_year }}, Hour {{ latest_hour }}</a></h4>#}
{#	<div id="subscribe-forms">#}
{#	<div id="email-form" class="form-stacked">#}
{#		<p>You can sign up to get an email alert any time new scores are posted. If you add your team name, you will get your score and place as well.</p>#}
{#		<form method="POST" action="/email/subscribe/">{% csrf_token %} #}
{#			{{ email_form }}#}
{#			<p><input class="btn primary" type='submit'></p>#}
{#		</form>#}
{#	</div>#}
{#	<div id="sms-form" class="form-stacked">#}
{#		<p>You can also sign up for text alerts. If you add your team name, you will get your score and place as well.</p>#}
{#		<form method="POST" action="/sms/subscribe/">{% csrf_token %} #}
{#			{{ sms_form }}#}
{#			<p><input class="btn primary" type='submit'></p>#}
{#		</form>#}
{#	</div>#}
{#	</div>#}
{% endblock %}
