{% extends "site_base.html" %}

{% block body %}
<div class="team_body">
    <h2 class="team_body_name">{{ team_name }}</h2>
    {% for year, year_scores in scores.items %}

    <h3>{{ year }}</h3>
    <table class="table table-bordered">
        <thead>
            <th>Hour</th>
            <th>Place</th>
            <th>Score</th>
        </thead>
        <tbody>
            {% for score in year_scores %}
{#                <p>{{ score }}</p>#}
                <tr>
                    <td>{{ score.hour }}</td>
                    <td>{{ score.place }}</td>
                    <td>{{ score.score }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endfor %}
</div>

{% endblock %}