{% extends "site_base.html" %}

{% block body %}
<h2>{{ team_name }}</h2>
{% for year, year_scores in scores.items %}
    <h2>{{ year }}</h2>
    <table>
        <thead>
            <th>Hour</th>
            <th>Place</th>
            <th>Score</th>
        </thead>
        <tbody>
            {% for score in year_scores %}
{#                <p>{{ score }}</p>#}
                <tr>
                    <td>{{ score.hour }}</td>
                    <td>{{ score.place }}</td>
                    <td>{{ score.score }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endfor %}

{% endblock %}